<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <!--Ejs would refuse to work on the client side-->

    <title>
        <%= data.window.title %>
    </title>
</head>