<div class="card">
    <!--<img src="https://cdn.discordapp.com/avatars/151039550234296320/a_d27758887cd0d33cca84eba18f86cd6b.png">-->
    <h5 style="color: <%= user.color %>">
        <%= user.username %>
    </h5>
</div>